In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
excel_file = 'path/to/your/file.xlsx'

# Read all sheets into a dictionary of dataframes
dfs = pd.read_excel(excel_file, sheet_name=None)

# Combine all dataframes into one
combined_df = pd.concat(dfs.values(), ignore_index=True)

# Print the combined dataframe
print(combined_df)

In [40]:
df_cycling_1= pd.read_excel('cycling_1.xls', sheet_name=None)

In [41]:
df_cycling_1

{'Accelerometer':        Time (s)  Acceleration x (m/s^2)  Acceleration y (m/s^2)  \
 0       0.00000               -4.937590                4.652843
 1       0.01769               -4.518547                4.640880
 2       0.21769               -3.402893                4.724628
 3       0.41769               -1.966302                5.062315
 4       0.61769                3.619144                1.720140
 ...         ...                     ...                     ...
 1538  307.41769                4.248756                7.242177
 1539  307.61769                6.273981                4.352544
 1540  307.81769                4.672285                3.932305
 1541  308.01769                4.917849                2.698207
 1542  308.21769                4.835296                3.156432

       Acceleration z (m/s^2)
 0                   8.306684
 1                   8.117651
 2                   7.923533
 3                   9.719048
 4                   9.723833
 ...                      ...
 1538                9.376874
 1539                7.039086
 1540                8.697013
 1541                7.421937
 1542                7.785946

 [1543 rows x 4 columns],
 'Gyroscope':         Time (s)  Gyroscope x (rad/s)  Gyroscope y (rad/s)  \
 0       0.124068             0.058107            -0.256938
 1       0.321985            -0.334821            -1.286979
 2       0.519902            -1.759698            -1.050886
 3       0.717819            -0.644444             2.805698
 4       0.915736            -1.785888             0.112625
 ...          ...                  ...                  ...
 1477  307.392361             0.513341            -0.067499
 1478  307.600151            -0.807616            -0.343602
 1479  307.807942             0.036116            -0.026725
 1480  308.015732             0.209139            -0.016493
 1481  308.223523            -0.304736            -0.041614

       Gyroscope z (rad/s)
 0               -0.034284
 1               -0.431105
 2               -0.014889
 3                0.562590
 4                0.646200
 ...                   ...
 1477            -0.275492
 1478            -0.071469
 1479             0.086282
 1480             0.103997
 1481             0.159202

 [1482 rows x 4 columns],
 'Linear Acceleration':         Time (s)  Linear Acceleration x (m/s^2)  \
 0       0.321985                       0.000000
 1       0.519902                      -0.839092
 2       0.717819                       5.054129
 3       0.915736                       0.533491
 4       1.113653                      -3.187978
 ...          ...                            ...
 1476  307.392361                       1.008198
 1477  307.600151                      -0.944493
 1478  307.807942                       0.001666
 1479  308.015732                      -0.182450
 1480  308.223523                       0.035872

       Linear Acceleration y (m/s^2)  Linear Acceleration z (m/s^2)
 0                          0.000000                       0.000000
 1                          1.631603                      -0.337585
 2                         -0.372936                       2.048375
 3                         -0.726315                       0.175195
 4                         -3.329643                      -0.388648
 ...                             ...                            ...
 1476                      -0.860202                       0.114592
 1477                       1.895192                       0.173993
 1478                       1.436265                      -0.794128
 1479                       0.849877                      -0.236085
 1480                       1.069105                      -0.266866

 [1481 rows x 4 columns],
 'Location':        Time (s)  Latitude (°)  Longitude (°)  Height (m)  Velocity (m/s)  \
 0      3.398120     52.322133       4.981220   13.324818            1.80
 1      3.898340     52.322138       4.981194   13.021648            1.80
 2      4.915878     52.322268       4.981145    3.328813            0.65
 3      5.912670     52.322664       4.980792  -25.182358            1.61
 4      6.920771     52.322330       4.981276    7.159543            0.51
 ..          ...           ...            ...         ...             ...
 301  303.636314     52.316303       4.978808    1.566389            1.84
 302  304.646596     52.316296       4.978786    1.262290            0.87
 303  305.652215     52.316290       4.978775    1.685859            0.40
 304  306.642725     52.316279       4.978773    2.094900            0.00
 305  307.651352     52.316277       4.978775    2.362050            0.00

      Direction (°)  Horizontal Accuracy (m)  Vertical Accuracy (m)
 0       286.299988                32.846626               4.984176
 1       286.299988                35.511860               4.984176
 2       286.299988                12.971429              14.279662
 3       198.500000                36.734108              40.143154
 4       163.300003                 5.290380               6.550884
 ..             ...                      ...                    ...
 301     234.800003                 4.896246               4.435001
 302     240.399994                 4.775402               4.256435
 303     240.100006                 4.528944               3.955069
 304       0.000000                 4.534974               4.513819
 305       0.000000                 4.401075               4.349354

 [306 rows x 8 columns],
 'Magnetometer':         Time (s)  Magnetic field x (µT)  Magnetic field y (µT)  \
 0       0.168253                3.82500             -27.656252
 1       0.368253                1.83750             -27.487501
 2       0.568253               -1.48125             -24.712502
 3       0.768253                0.60000             -20.831251
 4       0.968253                3.61875             -16.668751
 ...          ...                    ...                    ...
 1536  307.465137               -3.71250             -21.525002
 1537  307.665137               -3.63750             -23.437500
 1538  307.865137               -3.86250             -24.581251
 1539  308.065137               -4.18125             -25.537500
 1540  308.265137               -4.80000             -26.362501

       Magnetic field z (µT)
 0                -34.312500
 1                -35.193752
 2                -37.406250
 3                -39.375000
 4                -40.537502
 ...                     ...
 1536             -45.468750
 1537             -44.681252
 1538             -44.025002
 1539             -43.462502
 1540             -42.956253

 [1541 rows x 4 columns],
 'Pressure':         Time (s)  Pressure (hPa)
 0       0.291757     1010.716248
 1       0.491774     1010.811218
 2       0.691786     1010.983704
 3       0.891787     1010.488708
 4       1.091778     1011.065002
 ...          ...             ...
 1536  307.491758     1010.697449
 1537  307.691760     1010.537476
 1538  307.891752     1010.731201
 1539  308.091759     1010.719971
 1540  308.291757     1010.684998

 [1541 rows x 2 columns],
 'Proximity':      Time (s)  Distance (cm)
 0    0.179544              5
 1  298.176366              0
 2  298.432800              5,
 'Metadata Device':                 proeprty      value
 0                version     1.1.11
 1                  build    1011102
 2             fileFormat       1.15
 3            deviceModel  M2102J2SC
 4            deviceBrand     Xiaomi
 ..                   ...        ...
 99   attitude Resolution       0.01
 100    attitude MinDelay       5000
 101    attitude MaxDelay     200000
 102       attitude Power      1.415
 103     attitude Version          1

 [104 rows x 2 columns],
 'Metadata Time':    event  experiment time   system time                   system time text
 0  START         0.000000  1.686683e+09  2023-06-13 20:57:04.902 UTC+02:00
 1  PAUSE       308.425261  1.686683e+09  2023-06-13 21:02:13.327 UTC+02:00}

In [42]:
#show all columns of dfs
pd.set_option('display.max_columns', None)

#combine all dataframes into on
combined_df_cycling_1 = pd.concat(df_cycling_1.values(), ignore_index=True)

In [43]:
combined_df_cycling_1

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Linear Acceleration x (m/s^2),Linear Acceleration y (m/s^2),Linear Acceleration z (m/s^2),Latitude (°),Longitude (°),Height (m),Velocity (m/s),Direction (°),Horizontal Accuracy (m),Vertical Accuracy (m),Magnetic field x (µT),Magnetic field y (µT),Magnetic field z (µT),Pressure (hPa),Distance (cm),proeprty,value,event,experiment time,system time,system time text
0,0.00000,-4.937590,4.652843,8.306684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.01769,-4.518547,4.640880,8.117651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.21769,-3.402893,4.724628,7.923533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.41769,-1.966302,5.062315,9.719048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.61769,3.619144,1.720140,9.723833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,attitude MaxDelay,200000,NaN,NaN,NaN,NaN
7999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,attitude Power,1.415,NaN,NaN,NaN,NaN
8000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,attitude Version,1,NaN,NaN,NaN,NaN
8001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,START,0.000000,1.686683e+09,2023-06-13 20:57:04.902 UTC+02:00
8002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PAUSE,308.425261,1.686683e+09,2023-06-13 21:02:13.327 UTC+02:00

In [44]:
#drop last seven columns
combined_df_cycling_1 = combined_df_cycling_1.iloc[:, :-7]

In [29]:
combined_df_cycling_1

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s)
0,0.000000,-4.937590,4.652843,8.306684,0.058107,-0.256938,-0.034284
1,0.017690,-4.518547,4.640880,8.117651,-0.334821,-1.286979,-0.431105
2,0.217690,-3.402893,4.724628,7.923533,-1.759698,-1.050886,-0.014889
3,0.417690,-1.966302,5.062315,9.719048,-0.644444,2.805698,0.562590
4,0.617690,3.619144,1.720140,9.723833,-1.785888,0.112625,0.646200
...,...,...,...,...,...,...,...
7892,308.091759,NaN,NaN,NaN,NaN,NaN,NaN
7893,308.291757,NaN,NaN,NaN,NaN,NaN,NaN
7894,0.179544,NaN,NaN,NaN,NaN,NaN,NaN
7895,298.176366,NaN,NaN,NaN,NaN,NaN,NaN
7896,298.432800,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
#drop Linear Acceleration x (m/s^2)	Linear Acceleration y (m/s^2)	Linear Acceleration z (m/s^2)	Latitude (°)	Longitude (°)	Height (m)	Velocity (m/s)	Direction (°)	Horizontal Accuracy (m)	Vertical Accuracy (m)	Magnetic field x (µT)	Magnetic field y (µT)	Magnetic field z (µT)	Pressure (hPa)	Distance (cm)	proeprty	value	event	experiment time	system time	system time text
combined_df_cycling_1 = combined_df_cycling_1.drop(['Linear Acceleration x (m/s^2)', 'Linear Acceleration y (m/s^2)', 'Linear Acceleration z (m/s^2)', 'Latitude (°)', 'Longitude (°)', 'Height (m)', 'Velocity (m/s)', 'Direction (°)', 'Horizontal Accuracy (m)', 'Vertical Accuracy (m)', 'Magnetic field x (µT)', 'Magnetic field y (µT)', 'Magnetic field z (µT)', 'Pressure (hPa)'], axis=1)

In [46]:
#sho misisng values per column
combined_df_cycling_1.isnull().sum()

Time (s)                   106
Acceleration x (m/s^2)    6460
Acceleration y (m/s^2)    6460
Acceleration z (m/s^2)    6460
Gyroscope x (rad/s)       6521
Gyroscope y (rad/s)       6521
Gyroscope z (rad/s)       6521
dtype: int64

In [47]:
#push missing values for all columns to the end 
combined_df_cycling_1 = combined_df_cycling_1.apply(lambda x: pd.Series(x.dropna().values))

In [48]:
#drop all rows with missing values
combined_df_cycling_1 = combined_df_cycling_1.dropna()

In [49]:
combined_df_cycling_1

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s)
0,0.00000,-4.937590,4.652843,8.306684,0.058107,-0.256938,-0.034284
1,0.01769,-4.518547,4.640880,8.117651,-0.334821,-1.286979,-0.431105
2,0.21769,-3.402893,4.724628,7.923533,-1.759698,-1.050886,-0.014889
3,0.41769,-1.966302,5.062315,9.719048,-0.644444,2.805698,0.562590
4,0.61769,3.619144,1.720140,9.723833,-1.785888,0.112625,0.646200
...,...,...,...,...,...,...,...
1477,295.21769,-1.147658,-2.231307,9.155238,0.513341,-0.067499,-0.275492
1478,295.41769,1.677369,-6.316753,6.056234,-0.807616,-0.343602,-0.071469
1479,295.61769,2.630310,-4.913960,7.892426,0.036116,-0.026725,0.086282
1480,295.81769,0.984347,-4.332205,9.638887,0.209139,-0.016493,0.103997
1481,296.01769,1.100399,-3.803092,8.704191,-0.304736,-0.041614,0.159202

In [50]:
df_doppler_cycling_1= pd.read_excel('doppler_cycling_1.xls', sheet_name=None)
#show all columns of dfs
pd.set_option('display.max_columns', None)

#combine all dataframes into on
combined_df_doppler_cycling_1 = pd.concat(df_doppler_cycling_1.values(), ignore_index=True)
combined_df_doppler_cycling_1

,Time (s),Frequency (Hz),Speed (m/s),property,value,event,experiment time,system time,system time text
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.847479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.897480,1003.170769,1.074654,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6358,NaN,NaN,NaN,depthBackSensor,0,NaN,NaN,NaN,NaN
6359,NaN,NaN,NaN,depthBackResolution,NaN,NaN,NaN,NaN,NaN
6360,NaN,NaN,NaN,depthBackRate,NaN,NaN,NaN,NaN,NaN
6361,NaN,NaN,NaN,NaN,NaN,START,0.000000,1.686683e+09,2023-06-13 20:57:01.081 UTC+02:00
6362,NaN,NaN,NaN,NaN,NaN,PAUSE,317.733696,1.686683e+09,2023-06-13 21:02:18.815 UTC+02:00

In [51]:
#remove columns property, value, event, experiment time, system time and sytem time text from combined_df_doppler_cycling_1
combined_df_doppler_cycling_1 = combined_df_doppler_cycling_1.drop(['property', 'value', 'event', 'experiment time', 'system time', 'system time text'], axis=1)
combined_df_doppler_cycling_1

      Time (s)  Frequency (Hz)  Speed (m/s)
0          NaN             NaN          NaN
1          NaN             NaN          NaN
2          NaN             NaN          NaN
3     0.847479             NaN          NaN
4     0.897480     1003.170769     1.074654
...        ...             ...          ...
6358       NaN             NaN          NaN
6359       NaN             NaN          NaN
6360       NaN             NaN          NaN
6361       NaN             NaN          NaN
6362       NaN             NaN          NaN

[6363 rows x 3 columns]

In [52]:
#push all missing values to the end of the dataframe
combined_df_doppler_cycling_1 = combined_df_doppler_cycling_1.apply(lambda x: pd.Series(x.dropna().values))
combined_df_doppler_cycling_1

        Time (s)  Frequency (Hz)  Speed (m/s)
0       0.847479     1003.170769     1.074654
1       0.897480      997.969706    -0.691704
2       0.947481      996.866920    -1.068595
3       0.997482      999.091508    -0.309168
4       1.047483     1002.382521     0.808132
...          ...             ...          ...
6337  317.736604             NaN          NaN
6338  317.786605             NaN          NaN
6339  317.836606             NaN          NaN
6340  317.886608             NaN          NaN
6341  317.936609             NaN          NaN

[6342 rows x 3 columns]

In [53]:
#drop all rows with missing values
combined_df_doppler_cycling_1 = combined_df_doppler_cycling_1.dropna()
combined_df_doppler_cycling_1

        Time (s)  Frequency (Hz)  Speed (m/s)
0       0.847479     1003.170769     1.074654
1       0.897480      997.969706    -0.691704
2       0.947481      996.866920    -1.068595
3       0.997482      999.091508    -0.309168
4       1.047483     1002.382521     0.808132
...          ...             ...          ...
2204  111.077999      996.146138    -1.315382
2205  111.128000     1003.702690     1.254270
2206  111.199882     1004.451226     1.506710
2207  111.249883     1003.902365     1.321647
2208  111.299884     1001.481353     0.502915

[2209 rows x 3 columns]

In [54]:
merged_cycling_1 = pd.merge(combined_df_cycling_1, combined_df_doppler_cycling_1, on='Time (s)', how='outer')

In [55]:
merged_cycling_1

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Frequency (Hz),Speed (m/s)
0,0.000000,-4.937590,4.652843,8.306684,0.058107,-0.256938,-0.034284,NaN,NaN
1,0.017690,-4.518547,4.640880,8.117651,-0.334821,-1.286979,-0.431105,NaN,NaN
2,0.217690,-3.402893,4.724628,7.923533,-1.759698,-1.050886,-0.014889,NaN,NaN
3,0.417690,-1.966302,5.062315,9.719048,-0.644444,2.805698,0.562590,NaN,NaN
4,0.617690,3.619144,1.720140,9.723833,-1.785888,0.112625,0.646200,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3686,111.077999,NaN,NaN,NaN,NaN,NaN,NaN,996.146138,-1.315382
3687,111.128000,NaN,NaN,NaN,NaN,NaN,NaN,1003.702690,1.254270
3688,111.199882,NaN,NaN,NaN,NaN,NaN,NaN,1004.451226,1.506710
3689,111.249883,NaN,NaN,NaN,NaN,NaN,NaN,1003.902365,1.321647
3690,111.299884,NaN,NaN,NaN,NaN,NaN,NaN,1001.481353,0.502915

In [57]:
merged_cycling_1.sort_values('Time (s)', inplace=True)

In [59]:
#push all missing values to the end of the dataframe
merged_cycling_1 = merged_cycling_1.apply(lambda x: pd.Series(x.dropna().values))
merged_cycling_1

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Frequency (Hz),Speed (m/s)
0,0.00000,-4.937590,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654
1,0.01769,-4.518547,4.640880,8.117651,-0.334821,-1.286979,-0.431105,997.969706,-0.691704
2,0.21769,-3.402893,4.724628,7.923533,-1.759698,-1.050886,-0.014889,996.866920,-1.068595
3,0.41769,-1.966302,5.062315,9.719048,-0.644444,2.805698,0.562590,999.091508,-0.309168
4,0.61769,3.619144,1.720140,9.723833,-1.785888,0.112625,0.646200,1002.382521,0.808132
...,...,...,...,...,...,...,...,...,...
3686,295.21769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3687,295.41769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3688,295.61769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3689,295.81769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3690,296.01769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
#drop all rows with missing values
merged_cycling_1 = merged_cycling_1.dropna()
merged_cycling_1

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Frequency (Hz),Speed (m/s)
0,0.000000,-4.937590,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654
1,0.017690,-4.518547,4.640880,8.117651,-0.334821,-1.286979,-0.431105,997.969706,-0.691704
2,0.217690,-3.402893,4.724628,7.923533,-1.759698,-1.050886,-0.014889,996.866920,-1.068595
3,0.417690,-1.966302,5.062315,9.719048,-0.644444,2.805698,0.562590,999.091508,-0.309168
4,0.617690,3.619144,1.720140,9.723833,-1.785888,0.112625,0.646200,1002.382521,0.808132
...,...,...,...,...,...,...,...,...,...
1477,59.670285,-1.147658,-2.231307,9.155238,0.513341,-0.067499,-0.275492,1002.125473,0.721128
1478,59.744704,1.677369,-6.316753,6.056234,-0.807616,-0.343602,-0.071469,1003.490100,1.182507
1479,59.794706,2.630310,-4.913960,7.892426,0.036116,-0.026725,0.086282,1001.295321,0.439840
1480,59.817690,0.984347,-4.332205,9.638887,0.209139,-0.016493,0.103997,996.494263,-1.196144
1481,59.844707,1.100399,-3.803092,8.704191,-0.304736,-0.041614,0.159202,1002.210979,0.750074

cycling 2

In [61]:
selected_sheet = ['Accelerometer', 'Gyroscope']

In [62]:
df_cycling_2= pd.read_excel('cycling_1.xls', sheet_name=selected_sheet)

In [63]:
df_cycling_2

{'Accelerometer':        Time (s)  Acceleration x (m/s^2)  Acceleration y (m/s^2)  \
 0       0.00000               -4.937590                4.652843
 1       0.01769               -4.518547                4.640880
 2       0.21769               -3.402893                4.724628
 3       0.41769               -1.966302                5.062315
 4       0.61769                3.619144                1.720140
 ...         ...                     ...                     ...
 1538  307.41769                4.248756                7.242177
 1539  307.61769                6.273981                4.352544
 1540  307.81769                4.672285                3.932305
 1541  308.01769                4.917849                2.698207
 1542  308.21769                4.835296                3.156432

       Acceleration z (m/s^2)
 0                   8.306684
 1                   8.117651
 2                   7.923533
 3                   9.719048
 4                   9.723833
 ...                      ...
 1538                9.376874
 1539                7.039086
 1540                8.697013
 1541                7.421937
 1542                7.785946

 [1543 rows x 4 columns],
 'Gyroscope':         Time (s)  Gyroscope x (rad/s)  Gyroscope y (rad/s)  \
 0       0.124068             0.058107            -0.256938
 1       0.321985            -0.334821            -1.286979
 2       0.519902            -1.759698            -1.050886
 3       0.717819            -0.644444             2.805698
 4       0.915736            -1.785888             0.112625
 ...          ...                  ...                  ...
 1477  307.392361             0.513341            -0.067499
 1478  307.600151            -0.807616            -0.343602
 1479  307.807942             0.036116            -0.026725
 1480  308.015732             0.209139            -0.016493
 1481  308.223523            -0.304736            -0.041614

       Gyroscope z (rad/s)
 0               -0.034284
 1               -0.431105
 2               -0.014889
 3                0.562590
 4                0.646200
 ...                   ...
 1477            -0.275492
 1478            -0.071469
 1479             0.086282
 1480             0.103997
 1481             0.159202

 [1482 rows x 4 columns]}

In [64]:
#show all columns of dfs
pd.set_option('display.max_columns', None)

#combine all dataframes into on
combined_df_cycling_2 = pd.concat(df_cycling_2.values(), ignore_index=True)

In [66]:
combined_df_cycling_2

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s)
0,0.000000,-4.937590,4.652843,8.306684,NaN,NaN,NaN
1,0.017690,-4.518547,4.640880,8.117651,NaN,NaN,NaN
2,0.217690,-3.402893,4.724628,7.923533,NaN,NaN,NaN
3,0.417690,-1.966302,5.062315,9.719048,NaN,NaN,NaN
4,0.617690,3.619144,1.720140,9.723833,NaN,NaN,NaN
...,...,...,...,...,...,...,...
3020,307.392361,NaN,NaN,NaN,0.513341,-0.067499,-0.275492
3021,307.600151,NaN,NaN,NaN,-0.807616,-0.343602,-0.071469
3022,307.807942,NaN,NaN,NaN,0.036116,-0.026725,0.086282
3023,308.015732,NaN,NaN,NaN,0.209139,-0.016493,0.103997
3024,308.223523,NaN,NaN,NaN,-0.304736,-0.041614,0.159202

In [67]:
#push all missing values to the end of the dataframe and drop all rows with missing values
combined_df_cycling_2 = combined_df_cycling_2.apply(lambda x: pd.Series(x.dropna().values))
combined_df_cycling_2 = combined_df_cycling_2.dropna()
combined_df_cycling_2

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s)
0,0.00000,-4.937590,4.652843,8.306684,0.058107,-0.256938,-0.034284
1,0.01769,-4.518547,4.640880,8.117651,-0.334821,-1.286979,-0.431105
2,0.21769,-3.402893,4.724628,7.923533,-1.759698,-1.050886,-0.014889
3,0.41769,-1.966302,5.062315,9.719048,-0.644444,2.805698,0.562590
4,0.61769,3.619144,1.720140,9.723833,-1.785888,0.112625,0.646200
...,...,...,...,...,...,...,...
1477,295.21769,-1.147658,-2.231307,9.155238,0.513341,-0.067499,-0.275492
1478,295.41769,1.677369,-6.316753,6.056234,-0.807616,-0.343602,-0.071469
1479,295.61769,2.630310,-4.913960,7.892426,0.036116,-0.026725,0.086282
1480,295.81769,0.984347,-4.332205,9.638887,0.209139,-0.016493,0.103997
1481,296.01769,1.100399,-3.803092,8.704191,-0.304736,-0.041614,0.159202

In [68]:
df_doppler_cycling_2= pd.read_excel('doppler_cycling_2.xls', sheet_name=None)
#show all columns of dfs
pd.set_option('display.max_columns', None)

#combine all dataframes into on
combined_df_doppler_cycling_2 = pd.concat(df_doppler_cycling_2.values(), ignore_index=True)
combined_df_doppler_cycling_2

,Time (s),Frequency (Hz),Speed (m/s),property,value,event,experiment time,system time,system time text
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.849678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.899679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.949680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
7990,NaN,NaN,NaN,depthFrontRate,NaN,NaN,NaN,NaN,NaN
7991,NaN,NaN,NaN,depthBackSensor,0,NaN,NaN,NaN,NaN
7992,NaN,NaN,NaN,depthBackResolution,NaN,NaN,NaN,NaN,NaN
7993,NaN,NaN,NaN,depthBackRate,NaN,NaN,NaN,NaN,NaN
7994,NaN,NaN,NaN,NaN,NaN,START,0.0,1.686684e+09,2023-06-13 21:25:33.333 UTC+02:00

In [69]:
#remove columns property, value, event, experiment time, system time and sytem time text from combined_df_doppler_cycling_1
combined_df_doppler_cycling_2 = combined_df_doppler_cycling_2.drop(['property', 'value', 'event', 'experiment time', 'system time', 'system time text'], axis=1)
combined_df_doppler_cycling_2

      Time (s)  Frequency (Hz)  Speed (m/s)
0          NaN             NaN          NaN
1          NaN             NaN          NaN
2     0.849678             NaN          NaN
3     0.899679             NaN          NaN
4     0.949680             NaN          NaN
...        ...             ...          ...
7990       NaN             NaN          NaN
7991       NaN             NaN          NaN
7992       NaN             NaN          NaN
7993       NaN             NaN          NaN
7994       NaN             NaN          NaN

[7995 rows x 3 columns]

In [70]:
#push all missing values to the end of the dataframe and drop all rows with missing values
combined_df_doppler_cycling_2 = combined_df_doppler_cycling_2.apply(lambda x: pd.Series(x.dropna().values))
combined_df_doppler_cycling_2 = combined_df_doppler_cycling_2.dropna()
combined_df_doppler_cycling_2

       Time (s)  Frequency (Hz)  Speed (m/s)
0      0.849678     1000.775093     0.263327
1      0.899679      996.400107    -1.228386
2      0.949680     1000.283854     0.096483
3      0.999681      999.070037    -0.316482
4      1.049682     1002.591292     0.878762
...         ...             ...          ...
1014  51.527812      996.136602    -1.318650
1015  51.577813     1001.319592     0.448070
1016  51.627814      996.021758    -1.358005
1017  51.677815      996.490833    -1.197318
1018  51.727816     1004.414087     1.494194

[1019 rows x 3 columns]

In [71]:
merged_cycling_2 = pd.merge(combined_df_cycling_2, combined_df_doppler_cycling_2, on='Time (s)', how='outer')

In [74]:
merged_cycling_2

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Frequency (Hz),Speed (m/s)
0,0.00000,-4.937590,4.652843,8.306684,0.058107,-0.256938,-0.034284,NaN,NaN
1,0.01769,-4.518547,4.640880,8.117651,-0.334821,-1.286979,-0.431105,NaN,NaN
2,0.21769,-3.402893,4.724628,7.923533,-1.759698,-1.050886,-0.014889,NaN,NaN
3,0.41769,-1.966302,5.062315,9.719048,-0.644444,2.805698,0.562590,NaN,NaN
4,0.61769,3.619144,1.720140,9.723833,-1.785888,0.112625,0.646200,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1477,295.21769,-1.147658,-2.231307,9.155238,0.513341,-0.067499,-0.275492,NaN,NaN
1478,295.41769,1.677369,-6.316753,6.056234,-0.807616,-0.343602,-0.071469,NaN,NaN
1479,295.61769,2.630310,-4.913960,7.892426,0.036116,-0.026725,0.086282,NaN,NaN
1480,295.81769,0.984347,-4.332205,9.638887,0.209139,-0.016493,0.103997,NaN,NaN
1481,296.01769,1.100399,-3.803092,8.704191,-0.304736,-0.041614,0.159202,NaN,NaN

In [73]:
merged_cycling_2.sort_values('Time (s)', inplace=True)

In [75]:
#push all missing values to the end of the dataframe and drop all rows with missing values
merged_cycling_2 = merged_cycling_2.apply(lambda x: pd.Series(x.dropna().values))
merged_cycling_2 = merged_cycling_2.dropna()
merged_cycling_2

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Frequency (Hz),Speed (m/s)
0,0.000000,-4.937590,4.652843,8.306684,0.058107,-0.256938,-0.034284,1000.775093,0.263327
1,0.017690,-4.518547,4.640880,8.117651,-0.334821,-1.286979,-0.431105,996.400107,-1.228386
2,0.217690,-3.402893,4.724628,7.923533,-1.759698,-1.050886,-0.014889,1000.283854,0.096483
3,0.417690,-1.966302,5.062315,9.719048,-0.644444,2.805698,0.562590,999.070037,-0.316482
4,0.617690,3.619144,1.720140,9.723833,-1.785888,0.112625,0.646200,1002.591292,0.878762
...,...,...,...,...,...,...,...,...,...
1014,41.209035,5.572585,1.616053,8.045568,0.009468,-0.066735,0.033215,1004.275003,1.447314
1015,41.217690,4.747958,2.110470,9.087043,-0.059787,0.004047,0.054289,1001.319592,0.448070
1016,41.259036,4.634000,1.791925,9.016455,0.034895,-0.015424,-0.154239,996.021758,-1.358005
1017,41.309037,3.585346,3.106183,9.685548,0.062154,-0.012217,0.071469,996.490833,-1.197318
1018,41.359038,1.802992,4.441079,7.247262,-0.021609,0.009621,0.025197,1004.414087,1.494194

In [76]:
merged_cycling_1

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Frequency (Hz),Speed (m/s)
0,0.000000,-4.937590,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654
1,0.017690,-4.518547,4.640880,8.117651,-0.334821,-1.286979,-0.431105,997.969706,-0.691704
2,0.217690,-3.402893,4.724628,7.923533,-1.759698,-1.050886,-0.014889,996.866920,-1.068595
3,0.417690,-1.966302,5.062315,9.719048,-0.644444,2.805698,0.562590,999.091508,-0.309168
4,0.617690,3.619144,1.720140,9.723833,-1.785888,0.112625,0.646200,1002.382521,0.808132
...,...,...,...,...,...,...,...,...,...
1477,59.670285,-1.147658,-2.231307,9.155238,0.513341,-0.067499,-0.275492,1002.125473,0.721128
1478,59.744704,1.677369,-6.316753,6.056234,-0.807616,-0.343602,-0.071469,1003.490100,1.182507
1479,59.794706,2.630310,-4.913960,7.892426,0.036116,-0.026725,0.086282,1001.295321,0.439840
1480,59.817690,0.984347,-4.332205,9.638887,0.209139,-0.016493,0.103997,996.494263,-1.196144
1481,59.844707,1.100399,-3.803092,8.704191,-0.304736,-0.041614,0.159202,1002.210979,0.750074

In [80]:
#merge merged_cycling_1 and merged_cycling_2 with pd.concat
merged_cycling = pd.concat([merged_cycling_1, merged_cycling_2], ignore_index=True)

In [86]:
merged_cycling

,Time (s),cycling_A_x,cycling_A_y,cycling_A_z,cycling_Gyr_x,cycling_Gyr_y,cycling_Gyr_z,cycling_freq,cycling_speed
0,0.000000,-4.937590,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654
1,0.017690,-4.518547,4.640880,8.117651,-0.334821,-1.286979,-0.431105,997.969706,-0.691704
2,0.217690,-3.402893,4.724628,7.923533,-1.759698,-1.050886,-0.014889,996.866920,-1.068595
3,0.417690,-1.966302,5.062315,9.719048,-0.644444,2.805698,0.562590,999.091508,-0.309168
4,0.617690,3.619144,1.720140,9.723833,-1.785888,0.112625,0.646200,1002.382521,0.808132
...,...,...,...,...,...,...,...,...,...
2496,41.209035,5.572585,1.616053,8.045568,0.009468,-0.066735,0.033215,1004.275003,1.447314
2497,41.217690,4.747958,2.110470,9.087043,-0.059787,0.004047,0.054289,1001.319592,0.448070
2498,41.259036,4.634000,1.791925,9.016455,0.034895,-0.015424,-0.154239,996.021758,-1.358005
2499,41.309037,3.585346,3.106183,9.685548,0.062154,-0.012217,0.071469,996.490833,-1.197318
2500,41.359038,1.802992,4.441079,7.247262,-0.021609,0.009621,0.025197,1004.414087,1.494194

In [82]:
#show missing values per column
merged_cycling.isnull().sum()

Time (s)                  0
Acceleration x (m/s^2)    0
Acceleration y (m/s^2)    0
Acceleration z (m/s^2)    0
Gyroscope x (rad/s)       0
Gyroscope y (rad/s)       0
Gyroscope z (rad/s)       0
Frequency (Hz)            0
Speed (m/s)               0
dtype: int64

In [83]:
#rename columns of combined_df_cycling
merged_cycling = merged_cycling.rename(columns={'Acceleration x (m/s^2)': 'cycling_A_x', 'Acceleration y (m/s^2)': 'cycling_A_y', 'Acceleration z (m/s^2)': 'cycling_A_z', 'Gyroscope x (rad/s)': 'cycling_Gyr_x', 'Gyroscope y (rad/s)': 'cycling_Gyr_y', 'Gyroscope z (rad/s)': 'cycling_Gyr_z', 'Doppler Speed (m/s)': 'cycling_doppler_speed', 'Doppler Distance (m)': 'cycing_doppler_distance'})

In [84]:
merged_cycling = merged_cycling.rename(columns={'Acceleration x (m/s^2)': 'cycling_A_x', 'Acceleration y (m/s^2)': 'cycling_A_y', 'Acceleration z (m/s^2)': 'cycling_A_z'})

In [85]:
merged_cycling = merged_cycling.rename(columns={'Frequency (Hz)':'cycling_freq', 'Speed (m/s)': 'cycling_speed'})

Walking

In [87]:
selected_sheet_walking = ['Linear Accelerometer', 'Gyroscope']
df_walking_1= pd.read_excel('walking_1.xls', sheet_name=selected_sheet_walking)

In [88]:
#show all columns of dfs
pd.set_option('display.max_columns', None)

#combine all dataframes into on
df_walking_1 = pd.concat(df_walking_1.values(), ignore_index=True)

In [89]:
#push all missing values to the end of the dataframe and drop all rows with missing values
df_walking_1 = df_walking_1.apply(lambda x: pd.Series(x.dropna().values))
df_walking_1 = df_walking_1.dropna()
df_walking_1

,Time (s),X (m/s^2),Y (m/s^2),Z (m/s^2),X (rad/s),Y (rad/s),Z (rad/s)
0,0.200265,0.065907,-0.057391,-0.032393,-0.049143,-0.088391,0.005363
1,0.400889,-0.131220,-0.012420,-0.090599,-0.087059,-0.297412,0.027458
2,0.601513,0.024113,0.104459,0.156629,-0.035462,-0.448622,-0.143072
3,0.802138,0.957141,-0.472767,0.644791,-0.046533,-1.042046,0.140629
4,1.002762,0.330834,-0.696418,-0.121794,0.840630,0.115930,0.265343
...,...,...,...,...,...,...,...
9171,1840.165761,-0.241280,-0.531235,-0.494321,-0.087972,0.041102,-0.125695
9172,1840.366386,0.008790,0.387646,0.265203,-0.057422,0.423214,0.321369
9173,1840.567012,-0.093128,0.270740,0.179798,-0.210623,0.565993,0.481988
9174,1840.767637,0.321992,-0.905952,0.701298,0.021674,0.723518,0.730931
9175,1840.968262,-0.157216,-0.482441,-0.489857,-0.122135,0.239455,0.104739

In [90]:
df_walking_1_doppler = pd.read_csv('D_Frequency_speed_1.csv')

In [91]:
df_walking_1_doppler

          Time (s)  Frequency (Hz)  Speed (m/s)
0              NaN     1001.308193     0.444204
1              NaN             NaN          NaN
2         0.823557             NaN          NaN
3         0.873558             NaN          NaN
4         0.923559             NaN          NaN
...            ...             ...          ...
36806  1841.425941             NaN          NaN
36807  1841.475942      997.160143    -0.968301
36808  1841.525943             NaN          NaN
36809  1841.575944             NaN          NaN
36810          NaN             NaN          NaN

[36811 rows x 3 columns]

In [92]:
#push all missing values to the end of the dataframe and drop all rows with missing values
df_walking_1_doppler = df_walking_1_doppler.apply(lambda x: pd.Series(x.dropna().values))
df_walking_1_doppler = df_walking_1_doppler.dropna()
df_walking_1_doppler

        Time (s)  Frequency (Hz)  Speed (m/s)
0       0.823557     1001.308193     0.444204
1       0.873558     1002.051301     0.696014
2       0.923559      996.178819    -1.304185
3       0.973560      996.064558    -1.343337
4       1.023561     1003.466162     1.174424
...          ...             ...          ...
7141  357.953407      997.094002    -0.990919
7142  358.003408     1003.499694     1.185746
7143  358.053409     1004.604698     1.558421
7144  358.103410      999.831932    -0.057153
7145  358.153411      997.160143    -0.968301

[7146 rows x 3 columns]

In [93]:
merged_walking_1 = pd.merge(df_walking_1, df_walking_1_doppler, on='Time (s)', how='outer')

In [94]:
merged_walking_1.sort_values('Time (s)', inplace=True)

In [95]:
merged_walking_1

,Time (s),X (m/s^2),Y (m/s^2),Z (m/s^2),X (rad/s),Y (rad/s),Z (rad/s),Frequency (Hz),Speed (m/s)
0,0.200265,0.065907,-0.057391,-0.032393,-0.049143,-0.088391,0.005363,NaN,NaN
1,0.400889,-0.131220,-0.012420,-0.090599,-0.087059,-0.297412,0.027458,NaN,NaN
2,0.601513,0.024113,0.104459,0.156629,-0.035462,-0.448622,-0.143072,NaN,NaN
3,0.802138,0.957141,-0.472767,0.644791,-0.046533,-1.042046,0.140629,NaN,NaN
9176,0.823557,NaN,NaN,NaN,NaN,NaN,NaN,1001.308193,0.444204
...,...,...,...,...,...,...,...,...,...
9171,1840.165761,-0.241280,-0.531235,-0.494321,-0.087972,0.041102,-0.125695,NaN,NaN
9172,1840.366386,0.008790,0.387646,0.265203,-0.057422,0.423214,0.321369,NaN,NaN
9173,1840.567012,-0.093128,0.270740,0.179798,-0.210623,0.565993,0.481988,NaN,NaN
9174,1840.767637,0.321992,-0.905952,0.701298,0.021674,0.723518,0.730931,NaN,NaN
9175,1840.968262,-0.157216,-0.482441,-0.489857,-0.122135,0.239455,0.104739,NaN,NaN

In [96]:
#push all missing values to the end of the dataframe and drop all rows with missing values
merged_walking_1 = merged_walking_1.apply(lambda x: pd.Series(x.dropna().values))
merged_walking_1 = merged_walking_1.dropna()
merged_walking_1

,Time (s),X (m/s^2),Y (m/s^2),Z (m/s^2),X (rad/s),Y (rad/s),Z (rad/s),Frequency (Hz),Speed (m/s)
0,0.200265,0.065907,-0.057391,-0.032393,-0.049143,-0.088391,0.005363,1001.308193,0.444204
1,0.400889,-0.131220,-0.012420,-0.090599,-0.087059,-0.297412,0.027458,1002.051301,0.696014
2,0.601513,0.024113,0.104459,0.156629,-0.035462,-0.448622,-0.143072,996.178819,-1.304185
3,0.802138,0.957141,-0.472767,0.644791,-0.046533,-1.042046,0.140629,996.064558,-1.343337
4,0.823557,0.330834,-0.696418,-0.121794,0.840630,0.115930,0.265343,1003.466162,1.174424
...,...,...,...,...,...,...,...,...,...
7141,286.492669,-2.897857,-2.094473,4.116257,0.308938,-0.869886,-0.169100,997.094002,-0.990919
7142,286.525938,-0.789584,-1.225958,0.920117,0.556894,1.860865,0.695979,1003.499694,1.185746
7143,286.575939,-2.276840,1.293196,-1.235973,-1.510553,1.009025,0.400571,1004.604698,1.558421
7144,286.625940,-1.258587,-0.577880,0.876805,-1.035477,0.484209,0.721405,999.831932,-0.057153
7145,286.675941,7.191884,3.117919,-2.259342,0.772114,-0.658363,0.405393,997.160143,-0.968301

walking 2

In [108]:
selected_sheet_walking = ['Accelerometer', 'Gyroscope']
df_walking_2= pd.read_excel('walking_2.xls', sheet_name=selected_sheet_walking)

In [109]:
#show all columns of dfs
pd.set_option('display.max_columns', None)

#combine all dataframes into on
df_walking_2 = pd.concat(df_walking_2.values(), ignore_index=True)

In [110]:
df_walking_2

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s)
0,0.101264,-4.170690,6.213861,7.041778,NaN,NaN,NaN
1,0.309099,-1.837090,5.478068,8.142476,NaN,NaN,NaN
2,0.516934,-2.846562,4.747958,8.282756,NaN,NaN,NaN
3,0.724769,-1.897807,7.566703,6.110372,NaN,NaN,NaN
4,0.932604,0.948156,8.023434,-3.462713,NaN,NaN,NaN
...,...,...,...,...,...,...,...
4165,432.571386,NaN,NaN,NaN,0.007407,-0.019700,-0.008857
4166,432.779207,NaN,NaN,NaN,0.021456,-0.023670,-0.014508
4167,432.987028,NaN,NaN,NaN,0.021609,-0.017562,-0.009774
4168,433.194849,NaN,NaN,NaN,0.006796,0.013668,-0.005116
4169,433.402671,NaN,NaN,NaN,-0.002138,0.002902,0.002520

In [111]:
#push all missing values to the end of the dataframe and drop all rows with missing values
df_walking_2 = df_walking_2.apply(lambda x: pd.Series(x.dropna().values))
df_walking_2 = df_walking_2.dropna()
df_walking_2

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s)
0,0.101264,-4.170690,6.213861,7.041778,-0.148054,-0.902680,-0.219676
1,0.309099,-1.837090,5.478068,8.142476,-0.042301,-0.145611,-0.281448
2,0.516934,-2.846562,4.747958,8.282756,-0.877100,-0.655363,-2.023661
3,0.724769,-1.897807,7.566703,6.110372,5.341172,-2.240359,1.539182
4,0.932604,0.948156,8.023434,-3.462713,5.020554,-0.509752,-0.008476
...,...,...,...,...,...,...,...
2080,432.573886,-0.548854,4.922036,8.536096,0.007407,-0.019700,-0.008857
2081,432.781707,-0.524626,4.901099,8.486146,0.021456,-0.023670,-0.014508
2082,432.989528,-0.511765,4.957929,8.487641,0.021609,-0.017562,-0.009774
2083,433.197349,-0.527019,4.964210,8.452945,0.006796,0.013668,-0.005116
2084,433.405171,-0.488734,4.994718,8.481659,-0.002138,0.002902,0.002520

In [112]:
df_walking_2_doppler = pd.read_excel('doppler_walking_2.xls')

In [113]:
df_walking_2_doppler

        Time (s)  Frequency (Hz)  Speed (m/s)
0       0.231000             NaN          NaN
1       0.281001             NaN          NaN
2       0.833000             NaN          NaN
3       0.883001             NaN          NaN
4       0.933002             NaN          NaN
...          ...             ...          ...
8638  432.646008             NaN          NaN
8639  432.696009             NaN          NaN
8640  432.746010             NaN          NaN
8641  432.796012             NaN     -0.85698
8642    0.000000             NaN          NaN

[8643 rows x 3 columns]

In [114]:
#push all missing values to the end of the dataframe and drop all rows with missing values
df_walking_2_doppler = df_walking_2_doppler.apply(lambda x: pd.Series(x.dropna().values))
df_walking_2_doppler = df_walking_2_doppler.dropna()
df_walking_2_doppler

        Time (s)  Frequency (Hz)  Speed (m/s)
0       0.231000     1000.597433     0.203006
1       0.281001      999.506441    -2.841034
2       0.833000      999.874665    -0.167893
3       0.883001      996.514764     2.294543
4       0.933002      999.360695    -2.667643
...          ...             ...          ...
2408  121.141006     1000.682177    -0.066298
2409  121.191007      995.998601    -0.196232
2410  121.241008     1001.845032    -0.294395
2411  121.291009     1004.387221    -0.382561
2412  121.341010      997.485809    -1.523053

[2413 rows x 3 columns]

In [115]:
merged_walking_2 = pd.merge(df_walking_2, df_walking_2_doppler, on='Time (s)', how='outer')
merged_walking_2.sort_values('Time (s)', inplace=True)

In [116]:
merged_walking_2

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Frequency (Hz),Speed (m/s)
0,0.101264,-4.170690,6.213861,7.041778,-0.148054,-0.902680,-0.219676,NaN,NaN
2085,0.231000,NaN,NaN,NaN,NaN,NaN,NaN,1000.597433,0.203006
2086,0.281001,NaN,NaN,NaN,NaN,NaN,NaN,999.506441,-2.841034
1,0.309099,-1.837090,5.478068,8.142476,-0.042301,-0.145611,-0.281448,NaN,NaN
2,0.516934,-2.846562,4.747958,8.282756,-0.877100,-0.655363,-2.023661,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2080,432.573886,-0.548854,4.922036,8.536096,0.007407,-0.019700,-0.008857,NaN,NaN
2081,432.781707,-0.524626,4.901099,8.486146,0.021456,-0.023670,-0.014508,NaN,NaN
2082,432.989528,-0.511765,4.957929,8.487641,0.021609,-0.017562,-0.009774,NaN,NaN
2083,433.197349,-0.527019,4.964210,8.452945,0.006796,0.013668,-0.005116,NaN,NaN
2084,433.405171,-0.488734,4.994718,8.481659,-0.002138,0.002902,0.002520,NaN,NaN

In [117]:
#push all missing values to the end of the dataframe and drop all rows with missing values
merged_walking_2 = merged_walking_2.apply(lambda x: pd.Series(x.dropna().values))
merged_walking_2 = merged_walking_2.dropna()
merged_walking_2

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Frequency (Hz),Speed (m/s)
0,0.101264,-4.170690,6.213861,7.041778,-0.148054,-0.902680,-0.219676,1000.597433,0.203006
1,0.231000,-1.837090,5.478068,8.142476,-0.042301,-0.145611,-0.281448,999.506441,-2.841034
2,0.281001,-2.846562,4.747958,8.282756,-0.877100,-0.655363,-2.023661,999.874665,-0.167893
3,0.309099,-1.897807,7.566703,6.110372,5.341172,-2.240359,1.539182,996.514764,2.294543
4,0.516934,0.948156,8.023434,-3.462713,5.020554,-0.509752,-0.008476,999.360695,-2.667643
...,...,...,...,...,...,...,...,...,...
2080,84.443004,-0.548854,4.922036,8.536096,0.007407,-0.019700,-0.008857,1004.775183,-0.338582
2081,84.493005,-0.524626,4.901099,8.486146,0.021456,-0.023670,-0.014508,1004.589942,0.550756
2082,84.522006,-0.511765,4.957929,8.487641,0.021609,-0.017562,-0.009774,1001.308293,-0.493709
2083,84.543006,-0.527019,4.964210,8.452945,0.006796,0.013668,-0.005116,997.871060,1.415411
2084,84.593007,-0.488734,4.994718,8.481659,-0.002138,0.002902,0.002520,998.253743,0.308900

In [118]:
#change column names to Time (s)	X (m/s^2)	Y (m/s^2)	Z (m/s^2)	X (rad/s)	Y (rad/s)	Z (rad/s)	Time (s)	Frequency (Hz)	Speed (m/s)
merged_walking_2.columns = ['Time (s)', 'X (m/s^2)', 'Y (m/s^2)', 'Z (m/s^2)', 'X (rad/s)', 'Y (rad/s)', 'Z (rad/s)', 'Frequency (Hz)', 'Speed (m/s)']

In [119]:
#merge merged_walking_1 and merged_walking_2 with pd.concat
merged_walking = pd.concat([merged_walking_1, merged_walking_2], ignore_index=True)

In [120]:
merged_walking

,Time (s),X (m/s^2),Y (m/s^2),Z (m/s^2),X (rad/s),Y (rad/s),Z (rad/s),Frequency (Hz),Speed (m/s)
0,0.200265,0.065907,-0.057391,-0.032393,-0.049143,-0.088391,0.005363,1001.308193,0.444204
1,0.400889,-0.131220,-0.012420,-0.090599,-0.087059,-0.297412,0.027458,1002.051301,0.696014
2,0.601513,0.024113,0.104459,0.156629,-0.035462,-0.448622,-0.143072,996.178819,-1.304185
3,0.802138,0.957141,-0.472767,0.644791,-0.046533,-1.042046,0.140629,996.064558,-1.343337
4,0.823557,0.330834,-0.696418,-0.121794,0.840630,0.115930,0.265343,1003.466162,1.174424
...,...,...,...,...,...,...,...,...,...
9226,84.443004,-0.548854,4.922036,8.536096,0.007407,-0.019700,-0.008857,1004.775183,-0.338582
9227,84.493005,-0.524626,4.901099,8.486146,0.021456,-0.023670,-0.014508,1004.589942,0.550756
9228,84.522006,-0.511765,4.957929,8.487641,0.021609,-0.017562,-0.009774,1001.308293,-0.493709
9229,84.543006,-0.527019,4.964210,8.452945,0.006796,0.013668,-0.005116,997.871060,1.415411
9230,84.593007,-0.488734,4.994718,8.481659,-0.002138,0.002902,0.002520,998.253743,0.308900

In [121]:
#show missing values per column
merged_walking.isnull().sum()

Time (s)          0
X (m/s^2)         0
Y (m/s^2)         0
Z (m/s^2)         0
X (rad/s)         0
Y (rad/s)         0
Z (rad/s)         0
Frequency (Hz)    0
Speed (m/s)       0
dtype: int64

In [122]:
#rename columns 
merged_walking = merged_walking.rename(columns={'X (m/s^2)':'walking_A_x', 'Y (m/s^2)':'walking_A_y', 'Z (m/s^2)':'walking_A_z', 'X (rad/s)':'walking_Gyr_x', 'Y (rad/s)':'walking_Gyr_y', 'Z (rad/s)':'walking_Gyr_z', 'Frequency (Hz)':'walking_freq', 'Speed (m/s)': 'walking_speed'})

In [123]:
merged_walking

,Time (s),walking_A_x,walking_A_y,walking_A_z,walking_Gyr_x,walking_Gyr_y,walking_Gyr_z,walking_freq,walking_speed
0,0.200265,0.065907,-0.057391,-0.032393,-0.049143,-0.088391,0.005363,1001.308193,0.444204
1,0.400889,-0.131220,-0.012420,-0.090599,-0.087059,-0.297412,0.027458,1002.051301,0.696014
2,0.601513,0.024113,0.104459,0.156629,-0.035462,-0.448622,-0.143072,996.178819,-1.304185
3,0.802138,0.957141,-0.472767,0.644791,-0.046533,-1.042046,0.140629,996.064558,-1.343337
4,0.823557,0.330834,-0.696418,-0.121794,0.840630,0.115930,0.265343,1003.466162,1.174424
...,...,...,...,...,...,...,...,...,...
9226,84.443004,-0.548854,4.922036,8.536096,0.007407,-0.019700,-0.008857,1004.775183,-0.338582
9227,84.493005,-0.524626,4.901099,8.486146,0.021456,-0.023670,-0.014508,1004.589942,0.550756
9228,84.522006,-0.511765,4.957929,8.487641,0.021609,-0.017562,-0.009774,1001.308293,-0.493709
9229,84.543006,-0.527019,4.964210,8.452945,0.006796,0.013668,-0.005116,997.871060,1.415411
9230,84.593007,-0.488734,4.994718,8.481659,-0.002138,0.002902,0.002520,998.253743,0.308900

Metro

In [143]:
selected_sheet_walking = ['Accelerometer', 'Gyroscope']
df_metro= pd.read_excel('metro_1.xls', sheet_name=selected_sheet_walking)

In [144]:
#show all columns of dfs
pd.set_option('display.max_columns', None)

#combine all dataframes into on
df_metro = pd.concat(df_metro.values(), ignore_index=True)

In [145]:
#push all missing values to the end of the dataframe and drop all rows with missing values
df_metro = df_metro.apply(lambda x: pd.Series(x.dropna().values))
df_metro = df_metro.dropna()
df_metro

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s)
0,0.105310,-4.346861,8.560024,1.084248,-0.353604,-0.120108,0.050013
1,0.313140,-3.879065,8.463713,1.387837,-0.085290,-0.075974,0.492877
2,0.520969,-2.958127,9.157033,1.877468,-0.034207,0.077196,0.827469
3,0.728799,-1.050449,9.868599,1.626222,-0.012522,0.018249,0.400334
4,0.936629,-0.005384,9.833604,1.721935,-0.305882,0.007101,0.146451
...,...,...,...,...,...,...,...
3128,650.441806,0.680758,8.895916,4.129713,-0.002520,-0.006872,-0.035047
3129,650.649648,0.376870,8.918050,4.113860,0.070171,0.077501,-0.059405
3130,650.857490,0.317647,8.987442,3.992724,0.039094,0.016569,-0.002672
3131,651.065332,0.290429,9.048160,3.990331,0.011759,0.017562,-0.027335
3132,651.273174,0.126820,8.972188,3.901796,-0.039171,0.065895,-0.044210

In [146]:
df_metro_doppler = pd.read_excel('doppler_metro_1.xls')

In [147]:
df_metro_doppler

        Time (s)  Frequency (Hz)  Speed (m/s)
0       0.231000             NaN          NaN
1       0.281001             NaN          NaN
2       0.833000             NaN          NaN
3       0.883001             NaN          NaN
4       0.933002             NaN          NaN
...          ...             ...          ...
8638  432.646008             NaN          NaN
8639  432.696009             NaN          NaN
8640  432.746010             NaN          NaN
8641  432.796012             NaN     -0.85698
8642    0.000000             NaN          NaN

[8643 rows x 3 columns]

In [148]:
#push all missing values to the end of the dataframe and drop all rows with missing values
df_metro_doppler = df_metro_doppler.apply(lambda x: pd.Series(x.dropna().values))
df_metro_doppler = df_metro_doppler.dropna()
df_metro_doppler

        Time (s)  Frequency (Hz)  Speed (m/s)
0       0.231000     1000.597433     0.203006
1       0.281001      999.506441    -2.841034
2       0.833000      999.874665    -0.167893
3       0.883001      996.514764     2.294543
4       0.933002      999.360695    -2.667643
...          ...             ...          ...
2408  121.141006     1000.682177    -0.066298
2409  121.191007      995.998601    -0.196232
2410  121.241008     1001.845032    -0.294395
2411  121.291009     1004.387221    -0.382561
2412  121.341010      997.485809    -1.523053

[2413 rows x 3 columns]

In [149]:
merged_metro = pd.merge(df_metro, df_metro_doppler, on='Time (s)', how='outer')

In [150]:
merged_metro.sort_values('Time (s)', inplace=True)

In [151]:
#push all missing values to the end of the dataframe and drop all rows with missing values
merged_metro = merged_metro.apply(lambda x: pd.Series(x.dropna().values))
merged_metro = merged_metro.dropna()
merged_metro

,Time (s),Acceleration x (m/s^2),Acceleration y (m/s^2),Acceleration z (m/s^2),Gyroscope x (rad/s),Gyroscope y (rad/s),Gyroscope z (rad/s),Frequency (Hz),Speed (m/s)
0,0.105310,-4.346861,8.560024,1.084248,-0.353604,-0.120108,0.050013,1000.597433,0.203006
1,0.231000,-3.879065,8.463713,1.387837,-0.085290,-0.075974,0.492877,999.506441,-2.841034
2,0.281001,-2.958127,9.157033,1.877468,-0.034207,0.077196,0.827469,999.874665,-0.167893
3,0.313140,-1.050449,9.868599,1.626222,-0.012522,0.018249,0.400334,996.514764,2.294543
4,0.520969,-0.005384,9.833604,1.721935,-0.305882,0.007101,0.146451,999.360695,-2.667643
...,...,...,...,...,...,...,...,...,...
2408,97.641004,-0.698405,9.740284,0.879961,-0.026572,-0.095598,-0.011453,1000.682177,-0.066298
2409,97.691005,-0.665504,9.653245,0.970290,0.041385,-0.059023,0.058947,995.998601,-0.196232
2410,97.741006,-0.169591,10.076775,0.800698,-0.081090,0.018784,0.032833,1001.845032,-0.294395
2411,97.791007,-0.325723,9.738489,0.879063,0.027794,-0.081624,-0.029779,1004.387221,-0.382561
2412,97.796748,-0.717847,9.635597,1.179063,-0.113999,-0.098881,0.011759,997.485809,-1.523053

In [152]:
merged_metro.isnull().sum()

Time (s)                  0
Acceleration x (m/s^2)    0
Acceleration y (m/s^2)    0
Acceleration z (m/s^2)    0
Gyroscope x (rad/s)       0
Gyroscope y (rad/s)       0
Gyroscope z (rad/s)       0
Frequency (Hz)            0
Speed (m/s)               0
dtype: int64

In [153]:
merged_metro = merged_metro.rename(columns={'Acceleration x (m/s^2)': 'metro_A_x', 'Acceleration y (m/s^2)': 'metro_A_y', 'Acceleration z (m/s^2)': 'metro_A_z', 'Gyroscope x (rad/s)': 'metro_Gyr_x', 'Gyroscope y (rad/s)': 'metro_Gyr_y', 'Gyroscope z (rad/s)': 'metro_Gyr_z', 'Frequency (Hz)': 'metro_frequ', 'Speed (m/s)': 'metro_doppler_speed'})

In [154]:
merged_metro = merged_metro.rename(columns={'Frequency (Hz)': 'metro_doppler_frequ'})

In [155]:
merged_metro

,Time (s),metro_A_x,metro_A_y,metro_A_z,metro_Gyr_x,metro_Gyr_y,metro_Gyr_z,metro_frequ,metro_doppler_speed
0,0.105310,-4.346861,8.560024,1.084248,-0.353604,-0.120108,0.050013,1000.597433,0.203006
1,0.231000,-3.879065,8.463713,1.387837,-0.085290,-0.075974,0.492877,999.506441,-2.841034
2,0.281001,-2.958127,9.157033,1.877468,-0.034207,0.077196,0.827469,999.874665,-0.167893
3,0.313140,-1.050449,9.868599,1.626222,-0.012522,0.018249,0.400334,996.514764,2.294543
4,0.520969,-0.005384,9.833604,1.721935,-0.305882,0.007101,0.146451,999.360695,-2.667643
...,...,...,...,...,...,...,...,...,...
2408,97.641004,-0.698405,9.740284,0.879961,-0.026572,-0.095598,-0.011453,1000.682177,-0.066298
2409,97.691005,-0.665504,9.653245,0.970290,0.041385,-0.059023,0.058947,995.998601,-0.196232
2410,97.741006,-0.169591,10.076775,0.800698,-0.081090,0.018784,0.032833,1001.845032,-0.294395
2411,97.791007,-0.325723,9.738489,0.879063,0.027794,-0.081624,-0.029779,1004.387221,-0.382561
2412,97.796748,-0.717847,9.635597,1.179063,-0.113999,-0.098881,0.011759,997.485809,-1.523053

Complete merge

In [163]:
#merge all merged dataframes with pd.concat
merged_all = pd.concat([merged_cycling, merged_walking, merged_metro], ignore_index=True)
merged_all

,Time (s),cycling_A_x,cycling_A_y,cycling_A_z,cycling_Gyr_x,cycling_Gyr_y,cycling_Gyr_z,cycling_freq,cycling_speed,walking_A_x,walking_A_y,walking_A_z,walking_Gyr_x,walking_Gyr_y,walking_Gyr_z,walking_freq,walking_speed,metro_A_x,metro_A_y,metro_A_z,metro_Gyr_x,metro_Gyr_y,metro_Gyr_z,metro_frequ,metro_doppler_speed
0,0.000000,-4.937590,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.017690,-4.518547,4.640880,8.117651,-0.334821,-1.286979,-0.431105,997.969706,-0.691704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.217690,-3.402893,4.724628,7.923533,-1.759698,-1.050886,-0.014889,996.866920,-1.068595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.417690,-1.966302,5.062315,9.719048,-0.644444,2.805698,0.562590,999.091508,-0.309168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.617690,3.619144,1.720140,9.723833,-1.785888,0.112625,0.646200,1002.382521,0.808132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14140,97.641004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.698405,9.740284,0.879961,-0.026572,-0.095598,-0.011453,1000.682177,-0.066298
14141,97.691005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.665504,9.653245,0.970290,0.041385,-0.059023,0.058947,995.998601,-0.196232
14142,97.741006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.169591,10.076775,0.800698,-0.081090,0.018784,0.032833,1001.845032,-0.294395
14143,97.791007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.325723,9.738489,0.879063,0.027794,-0.081624,-0.029779,1004.387221,-0.382561
14144,97.796748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.717847,9.635597,1.179063,-0.113999,-0.098881,0.011759,997.485809,-1.523053

In [164]:
merged_all.sort_values('Time (s)', inplace=True)

In [165]:
#push all missing values to the end of the dataframe and drop all rows with missing values
merged_all = merged_all.apply(lambda x: pd.Series(x.dropna().values))
merged_all = merged_all.dropna()
merged_all

,Time (s),cycling_A_x,cycling_A_y,cycling_A_z,cycling_Gyr_x,cycling_Gyr_y,cycling_Gyr_z,cycling_freq,cycling_speed,walking_A_x,walking_A_y,walking_A_z,walking_Gyr_x,walking_Gyr_y,walking_Gyr_z,walking_freq,walking_speed,metro_A_x,metro_A_y,metro_A_z,metro_Gyr_x,metro_Gyr_y,metro_Gyr_z,metro_frequ,metro_doppler_speed
0,0.000000,-4.937590,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654,-4.170690,6.213861,7.041778,-0.148054,-0.902680,-0.219676,1000.597433,0.203006,-4.346861,8.560024,1.084248,-0.353604,-0.120108,0.050013,1000.597433,0.203006
1,0.000000,-4.937590,4.652843,8.306684,0.058107,-0.256938,-0.034284,1000.775093,0.263327,0.065907,-0.057391,-0.032393,-0.049143,-0.088391,0.005363,1001.308193,0.444204,-3.879065,8.463713,1.387837,-0.085290,-0.075974,0.492877,999.506441,-2.841034
2,0.017690,-4.518547,4.640880,8.117651,-0.334821,-1.286979,-0.431105,997.969706,-0.691704,-1.837090,5.478068,8.142476,-0.042301,-0.145611,-0.281448,999.506441,-2.841034,-2.958127,9.157033,1.877468,-0.034207,0.077196,0.827469,999.874665,-0.167893
3,0.017690,-4.518547,4.640880,8.117651,-0.334821,-1.286979,-0.431105,996.400107,-1.228386,-2.846562,4.747958,8.282756,-0.877100,-0.655363,-2.023661,999.874665,-0.167893,-1.050449,9.868599,1.626222,-0.012522,0.018249,0.400334,996.514764,2.294543
4,0.101264,-3.402893,4.724628,7.923533,-1.759698,-1.050886,-0.014889,1000.283854,0.096483,-1.897807,7.566703,6.110372,5.341172,-2.240359,1.539182,996.514764,2.294543,-0.005384,9.833604,1.721935,-0.305882,0.007101,0.146451,999.360695,-2.667643
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2408,19.943010,1.259522,7.388139,6.382854,0.024281,-0.037873,-0.004200,999.465494,-0.181829,0.488442,2.166137,3.739359,-2.205534,2.139922,1.104434,1001.924575,0.653098,-0.698405,9.740284,0.879961,-0.026572,-0.095598,-0.011453,1000.682177,-0.066298
2409,19.944811,2.947359,3.565904,7.449455,-0.010690,0.054518,0.049326,1003.026539,1.025918,0.422333,9.720543,1.699203,0.092620,0.124689,0.185774,999.063690,-0.435302,-0.665504,9.653245,0.970290,0.041385,-0.059023,0.058947,995.998601,-0.196232
2410,19.955428,5.079364,-1.410270,9.490533,-0.447598,0.101095,0.213033,999.507857,-0.167411,5.384082,0.422837,-4.025843,2.403776,-1.545025,0.742613,1003.425185,1.160588,-0.169591,10.076775,0.800698,-0.081090,0.018784,0.032833,1001.845032,-0.294395
2411,19.987858,3.149852,5.623732,9.077472,-0.268849,0.112625,0.131332,1002.097145,0.711537,2.460420,9.785748,2.408376,-0.279386,-0.448362,-0.053067,998.990335,-0.493373,-0.325723,9.738489,0.879063,0.027794,-0.081624,-0.029779,1004.387221,-0.382561
2412,19.993011,4.431807,3.372085,9.792028,-0.435152,0.080479,0.302293,1001.293812,0.439328,3.994252,-1.737139,0.352541,-1.217115,1.499552,-2.383567,1004.792677,1.621738,-0.717847,9.635597,1.179063,-0.113999,-0.098881,0.011759,997.485809,-1.523053

In [160]:
#save merged_all as csv file
#merged_all.to_csv('merged_all.csv', index=False)

create new features

In [759]:
window_size = 1000

In [760]:
col_int = ['metro_doppler_frequ',	'metro_doppler_speed', 'walking_freq', 'walking_speed', 'cycling_freq', 'cycling_speed']

In [761]:
mean_per_window = df_all[col_int].groupby(df_all.index // window_size).mean()

In [762]:
mean_per_window

,metro_doppler_frequ,metro_doppler_speed,walking_freq,walking_speed,cycling_freq,cycling_speed
0,998.673557,-0.470974,1000.782517,0.264689,1003.170769,1.074654
1,998.874912,-0.397778,1000.851129,0.287872,1003.170769,1.074654
2,998.741504,-0.431020,1000.811937,0.274496,1003.170769,1.074654
3,998.675793,-0.439194,1000.762458,0.257783,1003.170769,1.074654
4,998.914726,-0.364063,1000.884014,0.299152,1003.170769,1.074654
5,998.810937,-0.420757,1000.691038,0.233651,1003.170769,1.074654
6,998.680322,-0.444663,1000.848282,0.286919,1003.170769,1.074654
7,998.668048,-0.451993,1000.820425,0.277470,1003.170769,1.074654
8,998.374183,-0.529988,1000.757612,0.255812,1003.170769,1.074654
9,997.485809,-0.856980,1000.148554,0.048171,1003.170769,1.074654
10,997.485809,-0.856980,1000.506246,0.169908,1003.170769,1.074654
11,997.485809,-0.856980,1000.135354,0.043889,1003.170769,1.074654
12,997.485809,-0.856980,1000.061349,0.018473,1003.170769,1.074654
13,997.485809,-0.856980,1000.213355,0.070580,1003.170769,1.074654
14,997.485809,-0.856980,999.961604,-0.015456,1003.170769,1.074654
15,997.485809,-0.856980,1000.376615,0.125714,1003.170769,1.074654
16,997.485809,-0.856980,1000.199836,0.065711,1003.170769,1.074654
17,997.485809,-0.856980,999.778807,-0.077147,1003.170769,1.074654
18,997.485809,-0.856980,1000.082554,0.025578,1003.170769,1.074654
19,997.485809,-0.856980,1000.300183,0.099615,1003.170769,1.074654
20,997.485809,-0.856980,1000.375478,0.125235,1003.170769,1.074654
21,997.485809,-0.856980,999.480597,-0.178387,1003.170769,1.074654

In [763]:
#save mean_per_window in dataframe
df_means = pd.DataFrame(mean_per_window)

In [764]:
#get max value of the gyr columns
df_all[['metro_Gyr_x', 'metro_Gyr_y', 'metro_Gyr_z', 'walking_Gyr_x', 'walking_Gyr_y', 'walking_Gyr_z', 'cycling_Gyr_x', 'cycling_Gyr_y', 'cycling_Gyr_z']].max()

metro_Gyr_x       0.684683
metro_Gyr_y       1.463743
metro_Gyr_z       1.166718
walking_Gyr_x    13.271033
walking_Gyr_y     9.926262
walking_Gyr_z     9.688485
cycling_Gyr_x     0.058107
cycling_Gyr_y    -0.256938
cycling_Gyr_z    -0.034284
dtype: float64

In [765]:
#GET min value of the gyr columns
df_all[['metro_Gyr_x', 'metro_Gyr_y', 'metro_Gyr_z', 'walking_Gyr_x', 'walking_Gyr_y', 'walking_Gyr_z', 'cycling_Gyr_x', 'cycling_Gyr_y', 'cycling_Gyr_z']].min()

metro_Gyr_x      -0.902756
metro_Gyr_y      -1.720909
metro_Gyr_z      -0.675902
walking_Gyr_x    -9.914701
walking_Gyr_y   -10.884785
walking_Gyr_z    -8.746300
cycling_Gyr_x     0.058107
cycling_Gyr_y    -0.256938
cycling_Gyr_z    -0.034284
dtype: float64

In [766]:
#use windo size and get std of all columns
std_per_window = df_all.groupby(df_all.index // window_size).std()

In [767]:
std_per_window

,Time (s),metro_A_x,metro_A_y,metro_A_z,metro_Gyr_x,metro_Gyr_y,metro_Gyr_z,metro_doppler_frequ,metro_doppler_speed,walking_A_x,walking_A_y,walking_A_z,walking_Gyr_x,walking_Gyr_y,walking_Gyr_z,walking_freq,walking_speed,cycling_A_x,cycling_A_y,cycling_A_z,cycling_Gyr_x,cycling_Gyr_y,cycling_Gyr_z,cycling_freq,cycling_speed
0,59.010298,0.310925,0.400007,1.248401,0.157256,0.093025,0.047123,2.124002,0.904811,2.590707,2.167696,2.306070,0.000000,0.000000,0.000000,1.534737,0.521812,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,59.236700,0.249910,0.413356,1.432717,0.157256,0.093025,0.047123,2.207502,0.738274,2.406334,1.995327,1.733240,0.000000,0.000000,0.000000,1.679480,0.570843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,59.686015,0.539739,0.385686,1.232105,0.157256,0.093025,0.047123,2.162009,0.730559,1.931818,1.628309,2.001877,0.000000,0.000000,0.000000,1.714540,0.582771,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,304.788998,0.128754,0.150720,0.450655,0.092577,0.102510,0.050856,2.072763,0.724913,0.623564,0.607815,0.722460,0.000000,0.000000,0.000000,1.600168,0.544015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,315.003885,0.000000,0.000000,0.000000,0.034655,0.106801,0.035758,2.265378,0.766440,1.637829,1.349854,1.352024,0.000000,0.000000,0.000000,1.584269,0.538445,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,311.423586,0.000000,0.000000,0.000000,0.063675,0.121841,0.054015,2.159931,0.728299,2.264523,1.832019,1.867201,0.000000,0.000000,0.000000,1.567018,0.532882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,332.874888,0.000000,0.000000,0.000000,0.018021,0.030290,0.020981,2.043099,0.700737,2.072802,1.932691,1.705059,0.000000,0.000000,0.000000,1.586291,0.539221,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,428.821196,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.096166,0.714112,2.379945,2.034239,1.904147,0.000000,0.000000,0.000000,1.622754,0.551721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,516.613170,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.855001,0.646539,2.885726,2.699728,2.416019,0.000000,0.000000,0.000000,1.836407,0.623930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,664.637178,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.486406,1.493389,1.274510,1.482587,1.317788,1.374151,2.161248,0.734447,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,57.944103,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.267708,1.416551,1.651806,2.158723,0.733405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,57.942301,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.023112,1.194195,1.441292,2.134289,0.725388,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,57.943442,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.771318,0.755231,0.650157,2.290544,0.778354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,57.944899,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.763687,0.731703,0.893108,2.022631,0.687167,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,57.948647,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.979916,1.415335,1.589066,2.215955,0.752995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,57.948696,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.106062,1.209570,1.568034,2.124053,0.721749,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,57.948064,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.087777,1.338176,1.586824,2.107681,0.716222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,57.945006,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.278184,1.549806,1.823877,1.867380,0.634833,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,20.723975,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.783076,1.025131,1.207062,2.182537,0.741378,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.199860,0.747393,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.296631,0.780309,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.919231,0.652766,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [768]:
window_size_2 = 100

In [769]:
df_fourier = pd.DataFrame()

In [772]:
for i in range(0, len(df_all), window_size):
    window = df_all.iloc[i:i+window_size_2]
    window_fourier = np.abs(np.fft.fft(window))
    df_fourier = df_fourier.append(window_fourier, ignore_index=True)

/var/folders/wr/n1gn41j97w53l7jc_kv9fb9w0000gn/T/ipykernel_48264/3412161737.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_fourier = df_fourier.append(window_fourier, ignore_index=True)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [773]:
#slice df_all in widows of 100 rows
df_all_2 = df_all.iloc[::100, :]

In [774]:
df_all_2

,Time (s),metro_A_x,metro_A_y,metro_A_z,metro_Gyr_x,metro_Gyr_y,metro_Gyr_z,metro_doppler_frequ,metro_doppler_speed,walking_A_x,walking_A_y,walking_A_z,walking_Gyr_x,walking_Gyr_y,walking_Gyr_z,walking_freq,walking_speed,cycling_A_x,cycling_A_y,cycling_A_z,cycling_Gyr_x,cycling_Gyr_y,cycling_Gyr_z,cycling_freq,cycling_speed
0,0.105310,-4.346861,8.560024,1.084248,-0.353604,-0.120108,0.050013,1000.597433,0.203006,0.065907,-0.057391,-0.032393,-0.049143,-0.088391,0.005363,1001.308193,0.444204,-4.93759,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654
100,20.888497,0.997209,9.373584,3.098406,-0.353604,-0.120108,0.050013,995.455793,-1.936438,0.065907,-0.057391,-0.032393,-0.049143,-0.088391,0.005363,1001.308193,0.444204,-4.93759,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654
200,41.671836,0.071486,9.687343,1.455135,-0.353604,-0.120108,0.050013,997.986513,-2.558722,0.065907,-0.057391,-0.032393,-0.049143,-0.088391,0.005363,1001.308193,0.444204,-4.93759,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654
300,62.455194,0.237488,9.136993,3.567998,-0.353604,-0.120108,0.050013,1000.420608,0.657778,0.065907,-0.057391,-0.032393,-0.049143,-0.088391,0.005363,1001.308193,0.444204,-4.93759,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654
400,83.248466,0.208475,9.744472,1.774577,-0.353604,-0.120108,0.050013,1001.990536,1.422022,0.065907,-0.057391,-0.032393,-0.049143,-0.088391,0.005363,1001.308193,0.444204,-4.93759,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20957,1840.968262,0.126820,8.972188,3.901796,-0.039171,0.065895,-0.044210,997.485809,-0.856980,-0.157216,-0.482441,-0.489857,-0.122135,0.239455,0.104739,1002.946177,0.998097,-4.93759,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654
21057,1840.968262,0.126820,8.972188,3.901796,-0.039171,0.065895,-0.044210,997.485809,-0.856980,-0.157216,-0.482441,-0.489857,-0.122135,0.239455,0.104739,997.821759,-0.744007,-4.93759,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654
21157,1840.968262,0.126820,8.972188,3.901796,-0.039171,0.065895,-0.044210,997.485809,-0.856980,-0.157216,-0.482441,-0.489857,-0.122135,0.239455,0.104739,1000.248550,0.084152,-4.93759,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654
21257,1840.968262,0.126820,8.972188,3.901796,-0.039171,0.065895,-0.044210,997.485809,-0.856980,-0.157216,-0.482441,-0.489857,-0.122135,0.239455,0.104739,996.464028,-1.206498,-4.93759,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654
21357,1840.968262,0.126820,8.972188,3.901796,-0.039171,0.065895,-0.044210,997.485809,-0.856980,-0.157216,-0.482441,-0.489857,-0.122135,0.239455,0.104739,1001.343023,0.454078,-4.93759,4.652843,8.306684,0.058107,-0.256938,-0.034284,1003.170769,1.074654

In [775]:
#apply fourier transform to df_all_2
df_fourier_2 = np.abs(np.fft.fft(df_all_2))

In [776]:
df_fourier_2

array([[3019.41005692,  146.38286609,  275.8116023 , ..., 2925.13386909,
         275.8116023 ,  146.38286609],
       [3041.08394869,  127.85944861,  258.33561713, ..., 2920.59969566,
         258.33561713,  127.85944861],
       [3061.52048703,  116.10900556,  257.06790637, ..., 2930.97707026,
         257.06790637,  116.10900556],
       ...,
       [4862.03990285, 1741.0024671 , 1775.25866891, ..., 3899.99154178,
        1775.25866891, 1741.0024671 ],
       [4856.96473132, 1744.71007224, 1775.04088226, ..., 3895.37263152,
        1775.04088226, 1744.71007224],
       [4863.50430238, 1739.93346851, 1775.32530475, ..., 3901.32421417,
        1775.32530475, 1739.93346851]])